/*font links*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --white: #fff;
  --black: #000000;
  --lightblue: rgb(37, 36, 50, 0.5);
  --darkblue: #252432;
  --blue: #4e47ff;

  --bg: #e5f4ff;
  --bg-secondary: #e0e7ffa2;

  --rale: "Raleway", sans-serif;
  --int: "Inter", sans-serif;
}
/*common css*/
body {
  margin: 0;
  padding: 0;
  font-family: var(--int);
  font-size: 16px;
  font-weight: 400;
  color: var(--lightblue);
}

/*header start*/
header {
  background-image: url(../images/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*nav*/
nav {
  margin: 0 9%;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-family: var(--rale);
  font-size: 34px;
  color: var(--blue);
  text-decoration: none;
}

.btn {
  padding: 12px 35px;
  font-family: var(--rale);
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.33s;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover,
.btn:active {
  background-color: var(--white);
  border: 1px solid var(--blue);
  color: var(--blue);
}

/*banner*/
.banner {
  padding: 70px 0 110px;
  width: 905px;
  text-align: center;
  margin: auto;
}
.banner_text {
  font-family: var(--rale);
  font-size: 65px;
  font-weight: 700;
  color: var(--darkblue);
}

/*header end*/

/*main start*/
/*action */
.action {
  margin: 0 9% 120px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action_content {
  width: 517px;
}
.action_title {
  font-family: var(--rale);
  font-size: 42px;
  font-weight: 700;
  color: var(--darkblue);
}
.action_text {
  margin: 20px 0;
  font-size: 24px;
  line-height: 30px;
}
.action_img {
  width: 403px;
}
.action_img img {
  width: 100%;
  border-radius: 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*join */
.join {
  margin: 0 9% 120px;
  padding: 50px 80px;
  background-color: var(--bg-secondary);
  text-align: center;
  border-radius: 24px;
}
.join_content {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.join_text {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  color: var(--blue);
}
.join_info {
  margin: 10px 0;
  font-size: 20px;
}

/* testimonials */
.testimonial {
  margin: 0 9% 120px;
  text-align: center;
}
.reviews {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  gap: 40px;
}
.review_item {
  padding: 25px 20px;
  border: 2px solid #f2eded;
  border-radius: 14px;
  transition: all 0.33s;
}
.review_item:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.review_icon {
  width: 116px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}
.review_icon img {
  width: 20px;
}
.review_title {
  font-size: 20px;
  font-weight: 600;
  color: var(--darkblue);
}
.reviewer {
  margin-top: 25px;
  width: 318px;
  height: 55px;
  display: flex;
  gap: 20px;
}
.reviewer_img {
  width: 40px;
}
.reviewer_img img {
  width: 100%;
  border-radius: 50%;
}
.reviewer_name {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--darkblue);
}
.review_date {
  margin-top: 5px;
}
/* focus */
.focus {
  margin: 0 9% 120px;
  text-align: center;
}
.focus_text {
  margin: 30px 0 20px;
}
.focus_img {
  width: 840px;
  margin: 40px auto;
}
.focus_img img {
  width: 100%;
  border-radius: 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/* contact */
.contact_section {
  background-color: var(--bg-secondary);
}
.contact {
  margin: 0 9%;
  padding: 71px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_text {
  font-family: var(--rale);
  font-size: 97px;
  font-weight: 700;
  color: var(--darkblue);
}
.contact_form {
  width: 497px;
}
.contact_label {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}
.contact_input {
  margin: 10px 0 20px;
  padding: 20px;
  width: 497px;
  font-family: var(--int);
  font-size: 16px;
  font-weight: 400;
  color: var(--lightblue);
  border: 1px solid transparent;
  border-radius: 10px;
}
.contact_input:focus-visible {
  outline: 0;
  border: 1px solid var(--blue);
}
.input-btn {
  padding: 20px;
  width: 539px;
}
/*main end*/
/*footer start*/
footer {
  padding: 80px 0 50px;
  text-align: center;
}
.footer_content {
  width: 531px;
  margin: 0 auto;
}
.logo-footer {
  margin: 0;
}
.logo-footer a {
  font-size: 50px;
}
.footer_info {
  margin: 25px 0;
}
.footer_links ul {
  display: flex;
  gap: 68px;
  list-style: none;
}
.footer_links ul li a {
  position: relative;
  padding-bottom: 5px;
  color: var(--blue);
  text-decoration: none;
  transition: all 0.3s;
}
.footer_links ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--darkblue);
  transition: width 0.3s ease;
}
.footer_links ul li a:hover {
  color: var(--darkblue);
}
.footer_links ul li a:hover::after {
  width: 100%;
}
/*footer end*/
