/*font links*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black: #000000;
  --lightblue: #252432;
  --darkblue: #252432;
  --blue: #4e47ff;

  --bg: #def0fc;

  --rale: "Raleway", sans-serif;
  --int: "Inter", sans-serif;
}
/*common css*/
body {
  font-family: var(--int);
  font-size: 16px;
  font-weight: 400;
  color: var(--lightblue);
}
